.btn {
    
}

.btn-primary {
    background: $primary;
    color: $light;
    text-decoration: none;
}

.btn-pill {
    border-radius: 50rem;
}

.btn-lg {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}